.gissa_talet{
  margin-left:5em;
  width: 100%;
} 
.form{
    vertical-align: top;
    width: 1fr;
    display: inline-block;
    background-color: coral;
    }
.form_out{
    width: 1fr;
    display: inline-block;
    text-align: left;
    font-size: 1.3em;


}

#guessID123 > input{
    margin: 1em;
}
#rovarID123 > input{
    margin: 1em;
}

.label{
    margin-left: 1em;
}   


.bold{
    font-weight: bold;
    
}
#reset_guess{
    display: none;
    /* display: none; */    
}   

.gird_cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
}

.grid-col-1{
    grid-column: 1/2;
    justify-self: end;


}
.grid-col-2{
    grid-column: 2/3;
}


.flex_cont{
    display: flex;
    align-content: flex-start;
    /*flex-flow: column wrap; */


}

.flex_form{
    order: 1;
    align-content: flex-start;
}

#rese_form{
    display: block;

}


#rese_form > label{
    padding: 0.5em;
  
}
#rese_form > input{
    
    margin: 0.3em;
}


.flex_form_output{
    order: 2;
}
.resa{
    display: block;
}

#reseDetails{
    display: none;
}